<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport"/>

    <link rel="stylesheet"
          th:href="@{/libs/bootstrap.min.css}"/>
    <script type="application/javascript" th:src="@{/libs/jquery-3.2.1.slim.min.js}"></script>
    <script type="application/javascript" th:src="@{/libs/popper.min.js}"></script>
    <script type="application/javascript" th:src="@{/libs/bootstrap.min.js}"></script>

</head>
</html>