<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!--/*/ <th:block th:include="@{common/static_contents} :: head"></th:block> /*/-->
</head>
<body>
<div class="loader"></div>
<h1 th:text="${contentTitle}"></h1>
<hr/>
<div class="row">
    <div class="col">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        Toll Criteria
                    </h5>
                    <hr/>
                </div>
                <div id="panel1" class="">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col">
                                <p>Routig Options</p>
                            </div>
                            <div class="col">
                                <strong class="routingOptions"></strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Vehicle Category</p>
                            </div>
                            <div class="col">
                                <strong class="vehicleCategory">HGV</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Gross combined weight</p>
                            </div>
                            <div class="col">
                                <strong class="grossCombinedWeight">3.5t < GCWR < 12t </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Number of Axles</p>
                            </div>
                            <div class="col">
                                <strong class="numberOfAxles"></strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>EURO Emission Class</p>
                            </div>
                            <div class="col">
                                <strong class="euroEmissionClass">3</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Expected Travel Date/Time</p>
                            </div>
                            <div class="col">
                                <strong class="expectedTravelDateTime"></strong>
                            </div>
                        </div>
                        <div class="locations">
                            <div class="row">
                                <div class="col">
                                    <strong>Way Points</strong>
                                </div>
                                <div class="col">
                                    <strong>Longitude</strong>
                                </div>
                                <div class="col">
                                    <strong>Latitude</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        Travel Route Result
                    </h5>
                    <hr/>
                </div>
                <div id="collapse2" class="">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col">
                                <p>Toll Charges</p>
                            </div>
                            <div class="col">
                                <strong class="tollCharges">(BGN) 25.31</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Extimated Travel Time</p>
                            </div>
                            <div class="col">
                                <strong class="estimatedTravelTime">(hh:mm) 02:29</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Total Travel Distance</p>
                            </div>
                            <div class="col">
                                <strong class="totalTravelDistance">(km) 238.73</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Distance Not Charged</p>
                            </div>
                            <div class="col">
                                <strong class="">(km) 52.03</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <strong>Distance Charged</strong>
                            </div>
                            <div class="col">
                                <strong class="distanceCharged">(km) 186.70</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    /*var loader = $('.loader').waitMe({
        effect : 'bounce',
        text : '',
        bg : "#ccc",
        color : "#000"
    });*/

    var mymap = L.map('mapid', {
        center: [42.4192498, 25.5897564],
        zoom: 7,
        drawControl: true
    });

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        id: 'mapbox/streets-v11'
    }).addTo(mymap);

    var markerObjectArray = [];
    var markerObjectLatLonArray = [];

    function onMapClick(e) {
        console.log(e);

        var marker = L.marker(
            [e.latlng.lat, e.latlng.lng], {
                draggable: true
            }
        ).addTo(mymap);

        markerObjectArray.push(marker);
        marker.bindTooltip("my tooltip text").openTooltip();
        // Drag a marker in map
        marker.on("dragend", function(e) {
            var position = marker.getLatLng();
            var latLng = new L.LatLng(position.lat, position.lng);
            console.log(latLng);
            mymap.panTo(latLng);
        });

    }

    mymap.on('click', onMapClick);

    $('#startDate').datepicker({
        format: 'dd/mm/yyyy',
        startDate: '1d'
    });

    // To remove a marker from Map
    // mymap.removeLayer(markerObjectArray[0]);
    // markerObjectArray.remove(markerObjectArray[0])

    $(".post-trip-details").on("click", function (e) {

        // loader.show();
        var formData = {};
        var latLngArray = [];
        var personalizationInformation = {};

        markerObjectArray.forEach(function(item) {
            var location = {latitude: item._latlng.lat, longitude: item._latlng.lng};
            latLngArray.push(location);
        });

        formData.startDate = $("#startDate").val();
        formData.locations = latLngArray;
        personalizationInformation.axleHeight = $("#axleHeight").val();
        personalizationInformation.axleNumberTractor = $("#axleNumberTractor").val();
        personalizationInformation.axleNumberTrailer = $("#axleNumberTrailer").val();
        personalizationInformation.co2EmissionValue = $("#co2EmissionValue").val();
        personalizationInformation.copValue = $("#copValue").val();
        personalizationInformation.euroValue = $("#euroValue").val();
        personalizationInformation.numberOfTrailers = $("#numberOfTrailers").val();
        personalizationInformation.overallVehicleHeight = $("#overallVehicleHeight").val();
        personalizationInformation.overallVehicleLength = $("#overallVehicleLength").val();
        personalizationInformation.overallVehicleWidth = $("#overallVehicleWidth").val();
        personalizationInformation.vehicleClass = $("#vehicleClass").val();
        personalizationInformation.vehicleMaxLadenWeight = $("#vehicleMaxLadenWeight").val();
        personalizationInformation.vehicleTrainMaxWeight = $("#vehicleTrainMaxWeight").val();
        personalizationInformation.vehicleWeight = $("#vehicleWeight").val();
        personalizationInformation.vehicleWeightUnladen = $("#vehicleWeightUnladen").val();

        formData.personalizationInformation = personalizationInformation;
        formData.routingOptions = $("#routingOptions").val();

        $.ajax({
            type: "POST",
            url: "/trip-details",
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function (data) {
                // loader.hide();
                console.log(data);
            },
            error: function(err) {
                // loader.hide();
                console.error(err);
            }
        });
    });
</script>
</html>