<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!--/*/ <th:block th:include="@{common/static_contents} :: head"></th:block> /*/-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
</head>
<body>
<!--<h1 th:text="${greetings}"></h1>-->
<div class="container">
    <div class="row">
        <div class="col">
            <!--<a href="https://codepen.io/exomark/pen/dafBD?__cf_chl_jschl_tk__=f9c2cd6b19527f598f13d4331399d9676178fef2-1576481110-0-AdAqQEo57M8eQcMlQ8ECGPJYMfjeiXvmFtp4oWXJZmpKRAwnxNpyqqzsiDBuI5UX8sGT14WbQkZWN4VIqu-r4wKZXKP9MJzBdtEY_SCdodzoDpjsIjpWnzojbElNT04qcRepvGng6IdHoNWGyg1eXpSpmx5WdjeljRcRuP0aRsGpBXtPmWHz9H5SM3Xw0tkLyqwahNB5pm6lgoS8KNEDrR638HvgpNxtVbiu50_L85qPjaYiOX504BhrTpTgS7M_218Z3Yc96YtVQnqH4bqpomVPEu4eHxIlNYZFRz8cF5LG0IIwbQLJ9uU6PuprbeMsw75ZwPaO3CEQjjyp5lJx2xw">
                Location Search Link
            </a>-->
            <div class="form-group">
                <label for="axleHeight">Axle Height</label>
                <input type="axleHeight" class="form-control" id="axleHeight" placeholder="Axle Height">
            </div>
            <div class="form-group">
                <label for="axleNumberTractor">Axle Number Tractor</label>
                <input type="axleNumberTractor" class="form-control" id="axleNumberTractor" placeholder="Axle Number Tractor">
            </div>
            <div class="form-group">
                <label for="axleNumberTrailer">Axle Number Trailer</label>
                <input type="axleNumberTrailer" class="form-control" id="axleNumberTrailer" placeholder="Axle Number Trailer">
            </div>
            <div class="form-group">
                <label for="co2EmissionValue">CO2 Emission Value</label>
                <input type="co2EmissionValue" class="form-control" id="co2EmissionValue" placeholder="CO2 Emission Value">
            </div>
            <div class="form-group">
                <label for="copValue">COP Value</label>
                <select class="form-control" id="copValue">
                    <option>NO ENTRY</option>
                    <option>CO2 CLASS1</option>
                    <option>CO2 CLASS2</option>
                    <option>CO2 CLASS3</option>
                    <option>CO2 CLASS4</option>
                    <option>CO2 CLASS5</option>
                    <option>CO2 CLASS6</option>
                    <option>CO2 CLASS7</option>
                </select>
            </div>
            <div class="form-group">
                <label for="euroValue">Euro Value</label>
                <select class="form-control" id="euroValue">
                    <option>NO ENTRY</option>
                    <option>EURO 1</option>
                    <option>EURO 2</option>
                    <option>EURO 3</option>
                    <option>EURO 4</option>
                    <option>EURO 5</option>
                    <option>EURO 6</option>
                    <option>EEV</option>
                </select>
            </div>
            <div class="form-group">
                <label for="numberOfTrailers">Number of Trailers</label>
                <input type="numberOfTrailers" class="form-control" id="numberOfTrailers" placeholder="Number of Trailers">
            </div>
            <div class="form-group">
                <label for="overallVehicleHeight">Overall Vehicle Height</label>
                <input type="overallVehicleHeight" class="form-control" id="overallVehicleHeight" placeholder="Overall Vehicle Height">
            </div>
            <div class="form-group">
                <label for="overallVehicleLength">Overall Vehicle Length</label>
                <input type="overallVehicleLength" class="form-control" id="overallVehicleLength" placeholder="Overall Vehicle Length">
            </div>
            <div class="form-group">
                <label for="overallVehicleWidth">Overall Vehicle Width</label>
                <input type="overallVehicleWidth" class="form-control" id="overallVehicleWidth" placeholder="Overall Vehicle Width">
            </div>
            <div class="form-group">
                <label for="vehicleClass">Vehicle Class</label>
                <input type="vehicleClass" class="form-control" id="vehicleClass" placeholder="Vehicle Class">
            </div>
            <div class="form-group">
                <label for="vehicleMaxLadenWeight">Vehicle Max Laden Weight</label>
                <input type="vehicleMaxLadenWeight" class="form-control" id="vehicleMaxLadenWeight" placeholder="Vehicle Max Laden Weight">
            </div>
            <div class="form-group">
                <label for="vehicleTrainMaxWeight">Vehicle Train Max Weight</label>
                <input type="vehicleTrainMaxWeight" class="form-control" id="vehicleTrainMaxWeight" placeholder="Vehicle Train Max Weight">
            </div>
            <div class="form-group">
                <label for="vehicleWeight">Vehicle Weight</label>
                <input type="vehicleWeight" class="form-control" id="vehicleWeight" placeholder="Vehicle Weight">
            </div>
            <div class="form-group">
                <label for="vehicleWeightUnladen">Vehicle Weight Unladen</label>
                <input type="vehicleWeightUnladen" class="form-control" id="vehicleWeightUnladen" placeholder="Vehicle Weight Unladen">
            </div>
            <div class="form-group">
                <label for="routingOptions">Routing Options</label>
                <select class="form-control" id="routingOptions">
                    <option>SHORTEST</option>
                    <option>FASTEST</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div id="mapid" style="width: 600px; height: 600px;"></div>


        </div>
    </div>
</div>
</body>
<script>
    var mymap = L.map('mapid', {
        center: [42.4192498, 25.5897564],
        zoom: 7,
        drawControl: true
    });

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        id: 'mapbox/streets-v11'
    }).addTo(mymap);

    function onMapClick(e) {
        console.log(e);
        var marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(mymap);
    }

    mymap.on('click', onMapClick);

</script>
</html>